@page "/add_reservation"

<PageTitle>Add Reservation</PageTitle>

@using BlazingCustomerBooking.Data
@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Components;
@inject ReservationService ReservationService

<h1>Add Reservation</h1>

<label for="DateStart">Book from date:</label><br>
<input type="text" id="dateStart" @bind="dateStart"><br>
 
<label for="DateEnd">Book to date:</label><br>
<input type="text" id="dateEnd" @bind="dateEnd">

<button class="btn btn-primary" @onclick="GetAvailableRooms">See Available Rooms</button>

<p />

@if(foundRooms) {
    @foreach (var room in rooms)
    {
        <table>
            <thead>
                <tr>
                    <th>Roomnr</th>
                    <th>Beds</th>
                    <th>Size</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@room.Roomnr</td>
                    <td>@room.Beds</td>
                    <td>@room.Size</td>
                    <td>@room.Price</td>
                </tr>
            </tbody>
        </table>
    }
}

<!-- TODO: Add a Date from/to + num beds option before we look up available rooms -->
<!-- TODO: Display table/list of available rooms given date range -->

@*
    button class="btn btn-primary" @onclick="OnAddReservationClicked">Add Reservation</button>
*@

@code {
    private Library.Models.Reservation reservation;
    private Library.Models.Room[]? rooms;

    private String dateStart { get; set; }
    private String dateEnd { get; set; }

    private Boolean foundRooms = false;

    protected async Task GetAvailableRooms()
    {
        rooms = await ReservationService.GetAvailableRooms(
            DateTime.Parse(dateStart),
            DateTime.Parse(dateEnd)
        );

        foundRooms = true;
    }
}
