@page "/redirect"
@inject NavigationManager navigationManager

<h3>RedirectToLogin</h3>

@code {
    protected override void OnAfterRender(bool firstRender) {
        navigationManager.NavigateTo("/login");
    }
}
